/* SMALL */
@media screen and (max-width: 480px) {
body {
    background-color: red;
}
div#small {
    width: fit-content;
    overflow: hidden;
    padding-left: 0;
    font: 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
}
div#medium {
    
}
div#large {
    
}
}
/* MEDIUM */
@media screen and (min-width: 480px) and (max-width: 1024px), (width: 480px) {
body {
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
#small {
    
}

#large {
   
}
}

/* LARGE */
@media screen and (min-width: 1024px), (width: 1024px) {
body {
        background-color: blue;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
#small {
    
}

#medium {
    
}
}
